<footer class="footer_part">
    <div class="container-fluid">
      <div class="row p-5">
        <div class="col-12">
          <img src="https://tse2.mm.bing.net/th?id=OIP.4hScBVXaBQ9UDF7BK9bCDAHaHa&pid=Api&P=0&h=180" height="100px" />
        </div>
        <div class="col-lg-6 col-sm-12">
          <h1>Subscribe to our newsletter</h1>
        </div>
        <div class="col-lg-6 col-sm-12">
          <form>
            <input type="email" placeholder="example@gmail.com">
            <button>Subscribe Now</button>
          </form>
        </div>

        <div class="col-lg-4 col-sm-12 pt-3 logo_patrss">
          <p class="text-secondary">Zoomcar is a car sharing platform where you can choose from the widest range of
            25,000+ cars & car models. Get access to top rated cars with reviews from verified guests and enjoy self
            drive with full freedom and privacy.</p>
          <ul type="none">
            <li><a href=""><i class="fa-brands fa-linkedin"></i></a> </li>
            <li><a href=""><i class="fa-brands fa-facebook"></i></a> </li>
            <li><a href=""><i class="fa-brands fa-twitter"></i></a> </li>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a> </li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-12 pt-3 about_logos_partss">
          <h4 class="text-white">About Us</h4>
          <ul>
            <li><a href=""> Deals</a></li>
            <li><a href=""> Contact</a></li>
            <li><a href=""> FAQs</a></li>
            <li><a href=""> Terms & Conditions</a></li>
            <li><a href=""> Privacy Policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-sm-12  pt-3 pages_links">
          <h4 class="text-white">Helpful Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Blogs</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-sm-12 footer_location pt-3">
          <h4 class="pl-5 text-white">You Hav Question ?</h4>
          <ul>
            <li> <i class="fa-solid fa-location-dot"></i>
              <p> 203 Fake St. Mountain View, San Francisco, California, USA</p>
            </li>
            <li> <i class="fa-solid fa-phone"></i>
              <p> +2 392 3929 210</p>
            </li>
            <li> <i class="fa-solid fa-envelope"></i>
              <p>carrental@gmaoil.com</p>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </footer>
  <a href="#" class="btn btn-light" style="padding: 10px 16px; position: fixed; right: 20px;bottom: 20px;"><i
      class="fa-solid fa-arrow-up"></i></a>

</body>
<script src="index.js"></script>

</html>